<html>
    <head>
        <title>Form</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <form action="/test" method="POST">
            <!-- <input type="text" placeholder="Enter title" name="ttl">
            <input type="text" placeholder="Enter message" name="msg">
            <input type="text" placeholder="Enter latitude" name="lat">
            <input type="text" placeholder="Enter longitude" name="lon"> -->
            <input type="hidden" value="CONFIRM" name="action">
            
            <div class="text-center">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>

        </form>
    <body>
</html>